*.a
*.app
*.cmd
*.coverprofile
*.d
*.dSYM/
*.dll
*.dll
*.dwo
*.dylib
*.dylib
*.elf
*.exe
*.exe
*.exe~
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.out
*.pch
*.pdb
*.so
*.so
*.so.*
*.su
*.test
*.x86_64
.direnv
.env
.tmp_versions/
Mkfile.old
Module.symvers
coverage.*
dkms.conf
go.work
go.work.sum
modules.order
profile.cov
result
result-*
vendor/
